
.wrapper {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
/*   border: 1px solid black; */
}

.mainTitle{
  text-align: center;
}
.download {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: none;
  align-items: center;
}

.mainContainer {
  width: 1000vw;
  border: 1px soid purple;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.cvContainer{
  min-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  padding: 30px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  height:100vh;
}