#root {
  padding: 1rem;
  text-align: center;
  border: 1px solid green;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
/*   border: 1px solid black; */
}

.mainContainer {
  border: 1px soid purple;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
}

.cvContainer{
  
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  padding: 30px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  height:100vh;
}